.navbar .navbar-nav .nav-item a{

    text-decoration: none !important;
    color: black !important;
  
    padding: 25px !important;
    border: 2px solid transparent !important;
}
hr{
    margin-top: -0.01px !important;
    
}
.navbar .navbar-nav .nav-item a:hover{
    color: #0DBA4B !important;
    font-weight: 600 !important;
    border-bottom: 5px solid #0DBA4B !important;
    
   
}
.card:hover {
   
    box-shadow: 4px 2px 2px 2px rgb(230, 223, 223)  !important;

    
}
.by{
    color:#aba9a9;
}

.cardend{
    margin-top: -7px !important;
  
}
.know{
    border: 1px solid  #0DBA4B !important;
    color:  #0DBA4B !important;
    background:none !important;
}
.syllabus{
    background-color: #0DBA4B !important;
    color: white !important;
}
.lang{
    background-color: #ede8edcd !important;
    border-radius: 3px!important;
    padding: 4px !important;
}